@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@600&family=Noto+Sans:wght@500&family=Raleway:wght@500&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@600&family=Noto+Sans:wght@500&family=Raleway:wght@500&family=Roboto:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@600&family=Lato:wght@700&family=Noto+Sans:wght@500&family=Raleway:wght@500&family=Roboto:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@600&family=Lato:ital,wght@1,300&family=Noto+Sans:wght@500&family=Raleway:wght@500&family=Roboto:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@600&family=Lato:wght@300&family=Noto+Sans:wght@500&family=Raleway:wght@500&family=Roboto:wght@300;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F8FA;
    margin: auto;
    padding: 0;
    height: 100%;
    justify-content: center;

}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-inline: 40px;
    padding-top: 20px;
    max-width: 100%;
    padding-bottom: 25px;

    >.links {
        display: inline-flex;
        gap: 50px;
        font-size: 20px;
        list-style-type: none;
        font-weight: 700;
        font-family: 'Lato', sans-serif;
        cursor: pointer;
    }

    >.links a:nth-child(5) {
        border: 2px solid #646E7A;
        width: 91px;
        height: 35px;
        text-align: center;
        padding: 4px;
        margin-top: -5px;
        padding-bottom: -20px;
        text-decoration: none;
        color: #646E7A;
        border-radius: 5px;    
    }
}

.horizontal_line {
    border: #E0E6EA;
    padding-inline: 40px;
    opacity: 0.2;
    
}

.main_container {
    max-width: 892px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    border: 8px solid none;
    box-shadow: 0 0 10px  #cacaca; 
}

.main_container label{
    font-family: 'Afacad', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.left-content{
    background: #ffffff;
    height: 820px;
    width: 580px;
    margin: auto;
    border-radius: 5px 0 0 5px;
    /* padding: 40px; */
    
    
    >.header {
        color: #1D2C3C;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-bottom: 50px;
        padding: 40px;
    }

    .horizontal_line2{
        width: 100%;
        border: #E0E6EA;
        opacity: 0.2;
        /* padding-bottom: 40px; */
    }

    >.aside_left, .numberFour {
        width: 26px;
        height: 26px;
        text-align: center;
        border: 2px solid;
        flex-shrink: 0;
        border-radius: 100%;
        padding-top: 2px;
        font-weight: 400;
        color: #548BC5;
        font-size: 15px;
        
    }
}

.aside_left {
    display: inline-flex;
    gap: 10px;
    padding-inline: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.aside_left h2 {
    color: #1D2C3C;
    font-size: 20px;
    font-family: 'Afacad', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    line-height: normal;
    letter-spacing: -0.16px;
    width: 220px;
    flex-shrink: 0;
}

.user-form-name {
    display: inline-flex;
    gap: 30px;
    padding-left: 40px;
    /* margin-top: -40px; */

    >.user-form-name, input  {
        width: 227px;
        height: 36px;
        border-radius: 4px;
        background: #EDEFF2;
        border: none;
        margin-top: 5px;
        padding-left: 10px;
    }
}

.user-form-email {
    padding-left: 40px;
    margin-top: 12px;
    padding-bottom: 40px;

    >.user-form-email, input {
        width: 370px;
        height: 36px;
        flex-shrink: 0;
        border-radius: 4px;
        background: #EDEFF2;
        border: none;
        padding-left: 10px;
        
    }
}

.inputCardNumber{
    padding-left: 40px;
    margin-top: 12px;
    padding-bottom: 40px;
    display: inline-flex;

    >.inputCardNumber, .inputMonth input{
        display: inline-flex;
        height: 40px;
        border: none;
        margin-top: 34px;
        background: #EDEFF2;
        
    }

    >.inputCardNumber, .inputMonth input:nth-child(1) {
        padding-left: 50px;
        width: 120px;
    }

    >.inputCardNumber, .inputMonth input:nth-child(2) {
        width: 65px;
        margin-left: -6px;
        padding-left: 10px;
        border-radius: 0 5px 5px 0;
    }

    >.cardUserNumber input{
        width: 300px;
        height: 40px;
        border-radius: 4px 0 0 4px;
        border: none;
        background: #EDEFF2;
        padding-left: 10px;
        margin-top: 15px;
        
    }
}

.horizontal_line4 {
    width: 100%;
    border: #E0E6EA;
    opacity: 0.2;
}

.button {
    margin: auto;
    max-width: 500px;
    display: block;
    justify-content: center;
    text-align: center;

    >.button, button {
        width: 483px;
        height: 52px;
        flex-shrink: 0;
        border-radius: 5px;
        background: #038E7D;
        margin-left: -15px;
        border: none;
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.396px;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    >.button, .asideBottomContent{
        display: inline-flex;
        gap: 10px;
        padding-bottom: 30px;
    }

    >.button, .asideBottomContent i{
        color: #548BC5;
        font-size: 25px;
    }

    .button, .asideBottomContent b {
        color: #1D2C3C;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.01px;
    }

    .button, .asideBottomContent p{
        width: 300px;
        height: 16px;
        display: inline;
        text-align: start;
        color: #646E7A;
        font-family: 'Roboto', sans-serif;

    }

}

.horizontal_line3 {
    width: 100%;
    border: #E0E6EA;
    opacity: 0.2;
    
}

.topRightContent {
    width: 312px;
    height: 820px;
    background-color: #1179BF;
    border-radius: 0 5px 5px 0;
    padding: 42px;

    >.topRightContent, h2{
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.01px;
        padding-bottom: 6px;
        font-family: 'Roboto', sans-serif;

        
    }

    >.topRightContent, .year span:nth-child(1){
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.015px;
        position: relative;
        top: -23px;
    }

    >.topRightContent, .year span:nth-child(2){
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.015px;
        font-family: 'Afacad', sans-serif;
        font-family: 'Lato', sans-serif;
        font-family: 'Noto Sans', sans-serif;
        font-family: 'Raleway', sans-serif;
        font-family: 'Roboto', sans-serif;

    }

    >.topRightContent, .year99{
        color: #fff;
        font-size: 60px;
        font-style: normal;
        /* font-weight: 300; */
        line-height: normal;
        letter-spacing: -0.015px;
        padding-bottom: 6px;
        font-family: 'Lato', sans-serif;
    }

    .topRightContent, .paragraph{
        color: #FFF;
        font-size: 16px;
        font-style: italic;
        line-height: 24px; 
        letter-spacing: -0.008px;
        width: 150px;
        text-align: start;
        padding-bottom: 20px;
        font-family: 'Roboto', sans-serif;
        
    }

    >.topRightContent, i{
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        color:  #B9F5FF;

    }

    >.topRightContent, strong{
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        line-height: 24px;
        letter-spacing: -0.008px;
        font-family: 'Roboto', sans-serif;
    }

    >.topRightContent, .rightMiddleContent {
        line-height: 27px;
    }

    >.topRightContent, .rightMiddleContent span{
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        line-height: 24px;
        letter-spacing: -0.008px;
        font-family: 'Roboto', sans-serif;
    }

    >.topRightContent, strong{
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        line-height: 24px;
        letter-spacing: -0.008px;
        font-family: 'Roboto', sans-serif;
    }

    >.topRightContent, .lowerRightContent {
        margin-top: 30px;
        padding-bottom: 40px;
        line-height: 30px;
    }

    >.topRightContent, .lowerRightContent p, b{
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.008px;
        font-family: 'Roboto', sans-serif;
    }

    >.topRightContent, .horizontalRightLine_bottom{
        border: #E0E6EA;
        opacity: 0.2;
        padding-bottom: 70px;
    }

    >.topRightContent, .bottomRightContent p{
        color: #FFF;
        font-size: 18px;
        font-style: italic;
        line-height: 24px; 
        letter-spacing: -0.009px;
        font-family: 'Roboto', sans-serif;
    }

    >.topRightContent, .userProfile{
        display: inline-flex;
        margin-top: 38px;
        gap: 17px;
    }

    >.topRightContent, .userProfile img{
        width: 40px;
        height: 40px;
        flex-shrink: 0;
    }

    >.topRightContent, .userProfile h4{
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.008px;
        margin-top: 8px;
        font-family: 'Roboto', sans-serif;
    }
}

/* footer{
    padding-bottom: 100px;
} */

.footer{
    text-align: center;
    margin-top: 40px;
    /* display: flex; */

    >.footer,span {
        color: #31708F;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-family: 'Roboto', sans-serif;
    }

    .footer, .footerStyle p{
        display: inline-flex;
        gap: 10px;
        font-family: 'Roboto', sans-serif;
    }
}